 .App {
  text-align: center;
  height: 100%;
}

/* styles for the heading */
.App-title {
  font-weight: 700;
}

.App-header {
  min-height: 7vh;
  justify-content: left;
  justify-items: left;
  text-align: left;
}

.App-link {
  padding:5px;
  margin-left: 20px;
  color: #617dfb;
  overflow: hidden;
}
a:hover{
  color: blue;
  text-transform: uppercase;
  text-decoration:underline;
  text-decoration: overline;
  
}

/* Styles for the body */

.home-grid {
  background-color: #262e3d;
  width: "100%";
  min-height: 50vh;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
  color: white;
  align-items: center;
  justify-items: center;
}

.info {
  margin-top: 2em;
}

.about-position {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.encode-position {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}

.decode-position {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}

.encrypt-button {
  width: 100px;
  align-self: center;
  
}


/* Styles for the footer */
.App-footer {
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.Git-icon {
  display: inline-block;
  align-items: flex-end;
}

.youTube-Icon {
  margin:1rem
}

.footer-text {
  margin-left: 1rem;
  text-align: left;
  margin-top: 1.5rem;
  font-size: large;
  font-style: italic;
}

/* Styles for different screen sizes */
@media (max-width: 800px) {
  .App-header {
    height: 20%;
  }
  
  .home-grid {
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 50%;
  }

  .input-form {
    margin-bottom: 40%;
  }
  
  .encrypt-button {
    width: 80px;  
    margin-top: -40%;
  }
  .info {
    margin-top: 4em ;
  }
  .App-footer {
    
    height: 30%;
  }
}